.thumbnail
{
	float: left;
	margin-right: 10px;
	width: 130px;
}

.clearfix
{
	clear: both;
}

.title
{
	display: block;
	margin-top: 3px;
	font-size: 12px;
	height: 7em;
}

a.thumbnail
{
	text-decoration: none;
}